li{
    padding: 4px;
}

#choices{
    list-style-type: none;
}

#game-header {
    text-align: center;
}


#header-container {
    text-align: center;
    padding: 150px;
}

#sign-in {
    text-align: center;
}
/* #points, #timer {
    display: inline-block;
} */

#audio-container, #correct-message, #incorrect-message, #out-of-time {
    text-align: center;
}

#start-button {
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#ex1Slider .slider-selection{
    background: #BABABA;
}